{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "css"
}
